.card{
    font-family: 'Kumbh Sans', sans-serif;
    background-color: bisque;
    color:brown;
    /* height: 20rem; */
    /* width: 40rem; */
    padding: 5rem;
    border-radius: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.temp{
    font-size: 7rem;
}

.condition{
    font-size: 1rem;
}

.elements{
    padding-right: 5rem;
}

.location{
    opacity: 20%;
    font-size: 3rem;
    padding-bottom: 3rem;
}

.flex-container{
    display: flex;
    direction: row;
    justify-content: center;
}

.forecast{
    /* padding-top: 2rem; */
}

.day{
    padding-top: 2rem;
}

.daylabel{
    opacity: 50%;
    padding-bottom: 0.50rem;
}

.wind{
    padding-top: 2rem;
    font-size: 2rem;
}

.unit{
    opacity: 50%;
    font-size: 1rem;
}

/* .searchbox{
    font-size: 2rem;
    border-radius: 1rem;
    background-color: bisque;
    color: grey;
    width: 20%;
    padding: 1rem;
} */