.card {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: bisque;
    color: brown;
    /* height: 20rem; */
    /* width: 40rem; */
    padding: 5rem;
    border-radius: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 70%;
}

.temp {
    font-size: 7rem;
}

.condition {
    font-size: 1rem;
}

.elements {
    padding-right: 5rem;
}

.location {
    opacity: 20%;
    font-size: 3rem;
    padding-bottom: 3rem;
}

.flex-container {
    display: flex;
    direction: row;
    justify-content: center;
}

.forecast {
    /* padding-top: 2rem; */
}

.day {
    padding-top: 2rem;
}

.daylabel {
    opacity: 50%;
    padding-bottom: 0.50rem;
}

.wind {
    padding-top: 2rem;
    font-size: 2rem;
}

.unit {
    opacity: 50%;
    font-size: 1rem;
}

body,
html {
    height: 100%;
    margin: 0px;
}

.bg {
    /* The image used */
    /* background-image: url("/alex-gindin-ifpBOcQlhoY-unsplash.jpg"); */
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hotlink {
    color: brown;
}

.hotlink a {
    /* text-decoration: none; */
    color: brown;
}